.recipe-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.index {
  display: flex;
  align-items: center;
}

.recipe {
  display: flex;
}

.recipe .image {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.recipe .image img {
  border: 2px solid;
  border-radius: 40pc;
  width: 50%;
  height: 50%;
}

.recipe .ingredients {
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.recipe .ingredients .index {
  margin-top: 2px;
}

.recipe-subtitle {
  margin: 0;
  padding: 0;
}

#checklist {
  box-sizing: border-box;
  padding: 10px;
  --background: #fff;
  --text: #414856;
  --check: #4f29f0;
  --disabled: #c3c8de;
  --border-radius: 10px;
  background: var(--background);
  height: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.5);
  display: flex;
  padding-left: 50px;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: scroll;
}

#checklist label {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
  margin-right: 20px;
}

#checklist label::before,
#checklist label::after {
  content: "";
  position: absolute;
}

#checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}

#checklist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}

#checklist input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
  margin-right: 20px;
}

#checklist input[type="checkbox"]::before,
#checklist input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}

#checklist input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}

#checklist input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}

#checklist input[type="checkbox"]:checked::before {
  animation: check-01 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked::after {
  animation: check-02 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked+label {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}

#checklist input[type="checkbox"]:checked+label::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked+label::after {
  animation: firework 0.5s ease forwards 0.1s;
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }

  100% {
    padding-right: 4px;
  }
}

@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }

  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}

@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }

  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}

@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }

  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}

@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0, 14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0, -14px -8px 0 0px #4f29f0;
  }
}

#measure {
  color: orange;
  margin-right: 30px;
  margin-left: 5px;
}


@media (max-width: 992px) {


  #measure {
    margin-right: 0px;
  }

  #checklist {
    height: 350px;
    align-items: flex-start;
  }

}

@media (max-width: 576px) {

  #measure {
    margin-right: 0px;
  }

  #checklist {
    height: 350px;
    align-items: flex-start;
  }

  .recipe {
    display: flex;
    flex-direction: column;
  }

  .recipe .ingredients {
    margin-top: 30px;
    position: static;
  }
}


.video {
  box-sizing: border-box;
  padding: 10px;
  --border-radius: 10px;
  background: var(--background);
  height: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.video iframe {
  
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.5);
}




.recipe-instructions {
  height: 500px;
  overflow: scroll;
}

.checkbox-label {
  font-size: 15px;
  color: black;
  padding: 10px 50px 10px 5px;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  display: flex;
  position: relative;
  align-items: center;
  transition: all 0.3s;
}

.checkbox {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-right: -22px;
  appearance: none;
  border-radius: 5px;
  background-color: #64ccc5;
  z-index: 2;
  transition: all 0.3s;
}

.container {
  width: 35px;
  height: 35px;
  position: relative;
  top: 4px;
  left: -8%;
  border-radius: 5px;
  background-color: #dafffb;
  transition: all 0.3s;
}

.checkbox::before {
  content: "";
  background-color: #ffc8c8;
  position: relative;
  display: flex;
  top: 45%;
  left: 50%;
  width: 55px;
  height: 3px;
  border-radius: 25px;
  transform: translate(100px, 0px) scale(0);
  transition: ease-out 0.15s;
}

.checkbox:checked::before {
  transform: translateX(2em);
  top: 12px;
  transition: ease-out 0.15s;
}

.checkbox:hover {
  transform: translate(4px, 4px);
  transition: ease-out 0.15s;
  background-color: #ffc8c8;
}

.checkbox:checked {
  transform: translate(4px, 4px);
  transition: ease-out 0.15s;
  background-color: #ffc8c8;
}

.svg-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  display: flex;
  z-index: 3;
  top: 35%;
  left: 11%;
  color: #fefefe;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transform: rotate(0deg) scale(0);
  transition: ease-in 0.2s;
}

.checkbox:checked~.svg-icon {
  transform: rotate(360deg) scale(1);
  transition: ease-in 0.2s;
}