.landing {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1024px;
    padding: 20px;
}


.landing-section1 {
    display: flex;
    flex-direction: column-reverse;

    @media only screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.landing-text {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.landing-text p {
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.landing-call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-call-to-action a {
    background-color: #f6f6f6;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.landing-call-to-action a:hover {
    background-color: #f39c12;
    /* Orange hover color */
    color: #fff;
    /* White text on hover */
}

.landing-call-to-action p {
    margin: 0;
    font-size: 0.8rem;
    /* Adjust link text size if needed */
}

.landing-image {
    flex: 1;
    margin: 20px;
    /* Use a responsive image container using aspect ratio */
    position: relative;
}

.landing-image img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    /* Ensure image fills container */
    border-radius: 15px;
}

.landing-image::after {
    content: "";
    display: block;
}

.svg {
    position: absolute;
    z-index: -06;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow-x: hidden;
    z-index: -1;
}

